[Unit]
Description=Update everything for current user
Wants=network-online.target
After=network-online.service

[Service]
Type=simple
ExecStart=/usr/libexec/azure-topgrade
Restart=on-failure
RestartSec=30
StartLimitInterval=0

[Install]
WantedBy=default.target